header {
  height: 49px;
  line-height: 49px;
  background-color: rgb(166, 26, 64);
  width: 100%;
}

.nav-bar-text-link, .nav-bar-text-link:hover {
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 18px;
  margin-left: 18px;
}

body {
    background: #f5f6fa;
    margin: 0px;
}
