/* red
   background-color: rgb(166, 26, 64);
   blue
   background-color: rgb(26, 38, 166);
*/
header {
  height: 30px;
  line-height: 30px;
  background-color: rgb(166, 26, 64);
  width: 100%;
}

/*
 font-family: Roboto, "Helvetica Neue", sans-serif;
 font-family: Roboto, "Helvetica Neue Thin", sans-serif;
   font-family: Roboto, "Helvetica Neue Std", sans-serif;
 */
.nav-bar-text-link, .nav-bar-text-link:hover {
  color: white;
  font-family: san-serif;
  text-decoration: none;
  font-size: 16px;
  margin-left: 16px;
}

/**
  background:#faf5fa;
  background:#faf5fa;
  background:#faf5fa;
  font-family: Serif;
  font-family: sans-serif;
  font-family: Helvetica;
*/
body {
    font-family: san-serif;
    margin: 0px;
}
