{% extends "c_base.html" %}

{% block content %}
  <div class="container">
    <h1>{{ title }} - {{ user.username }} </h1>
    <hr>

    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" href="analysis">Unstructured Text</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Tag</a>
        </li>
        <li class="nav-item">
             <a class="nav-link disabled " href="analysis_report">Chunk</a>
        </li>
    </ul>

     <table id="myTable2" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Sentence</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
     </table>

    <!--
    <table id="analysis_table" class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Snt</th>
          <th>Tkn</th>
          <th>Tag</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td> {{item.snt_id}} </td>
          <td> {{item.snt}} </td>
          <td> {{item.tag1}}</td>
          <td> {{item.tag2}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    -->

  </div>

{% endblock %}


{% block scripts %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='c_analysis_a.js')}}"></script>
    <!--
    <script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='h1a.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='h1b.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='h1c.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='h1d.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='h1e.js')}}"></script>
    -->

    <!--
      <script>
        $(document).ready(function () {
          $('#analysis_table2').DataTable({
            ajax: '/analysis/info',
            select: true,
            columns: [
              {data: 'analysis_id'},
              {data: 'analysis_txt', searchable: false},
              {data: 'user_id'}
            ],
          });
        });
      </script>
    -->

{% endblock %}

