<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
        {% block head_style %}{% endblock %}
    </head>
    <body>
        <!--
            
        -->
        <header>
            <a href="/" class='nav-bar-text-link'>Home</a>
            <a href="/exploration" class='nav-bar-text-link'>Exploration</a>
            <a href="/search" class='nav-bar-text-link'>Search</a>
            <a href="/analysis" class='nav-bar-text-link'>Comprehension</a>
            <a href="/logout" class='nav-bar-text-link'>Logout</a>
            <!--
            <a href="/overview" class='nav-bar-text-link'>Overview</a>
            <a href="/narration" class='nav-bar-text-link'>Narration</a>
            <a href="/board1" class='nav-bar-text-link'>board1</a>
            <a href="/board2" class='nav-bar-text-link'>board2</a>
            <a href="/board3" class='nav-bar-text-link'>board3</a>
            <a href="/feedback4" class='nav-bar-text-link'>feedback</a>
            <a href="/datatable7" class='nav-bar-text-link'>datatable</a>-->
        </header>
        {% block content %}{% endblock %}

        {% block scripts %}{% endblock %}


    </body>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='app_style.css')}}">


</html>
