{% extends "c_base.html" %}


{% block head_style %}
<style type='text/css'>
form {
  margin:90px;
  padding: 0 5px;
  background: #F5F5F5;
}
</style>
{% endblock %}

{% block content %}
    <h3> {{ title }} - {{user.username}} </h3> <hr>

    <div class="container">

      <button id="tale_new_button" type="button" class="btn btn-primary">New</button> <br> <br>
      <table id="tale_table" class="table table-striped">
        <thead>
          <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Correctness</th>
                <th>Narrative</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div> <!-- <div class="container"> -->



    <div id="tale_new_modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">

          <div class="modal-header">
              <h5 class="modal-title">New Narration</h5>
              <button type="button" data-bs-dismiss="modal"><span>&times;</span></button>
          </div> <!-- <div class="modal-header"> -->

          <div class="modal-body">
              <label>Narrative Id    : </label><input id="tale_new_modal_tale_narrative_id" name="tale_narrative_id"><br><br>
              <label>Correctness     : </label><input id="tale_new_modal_tale_narrative_correctness" name="tale_narrative_correctness"><br><br>
              <label>Narrative       : </label> <br><br>
              <textarea id="tale_new_modal_narrative" name="tale_narrative" rows="4" cols="50"> </textarea>
          </div>

          <div class="modal-footer">
              <button id="tale_new_btn_create" type="button" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div> <!-- <div class="modal-footer"> -->

        </div> <!-- <div class="modal-content" -->
      </div>
    </div> <!-- <div id= tale_new_modal" -->


    <!--
    -->
    <div id="editModal" class="modal"  tabindex="-1" role="dialog">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Narration</h5>
            <button type="button" data-bs-dismiss="modal"><span>&times;</span></button>
          </div>
          <div class="modal-body">
            <!--            <form id="myForm" method="post"> -->
              <label>Narrative Id    : </label><input id="modal_tale_narrative_id" name="tale_narrative_id"><br><br>
              <label>Correctness     : </label><input id="modal_tale_narrative_correctness" name="tale_narrative_correctness"><br><br>
              <label>Submission Date : </label><input id="modal_tale_narrative_submission_date" name="tale_narrative_submission_date"><br><br>
              <label>Tale Id         :</label><input id="modal_tale_id" name="tale_id"><br><br>
              <label>User Id         : </label><input id="modal_user_id" name="user_id"><br><br>
              <label>Narrative : </label> <!--<input id="modal_narrative" name="tale_narrative"><br><br> -->
              <textarea id="modal_narrative" name="tale_narrative" rows="4" cols="50"> </textarea>
              <!--<button id="myFormSubmit" type="submit" >Submit</button> -->
            <!-- </form> -->
          </div>

          <div class="modal-footer">
            <button id="modal-btn-submit" type="button" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div> <!-- <div id="editModal" -->

{% endblock %}



{% block scripts %}

  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables/jQuery-3.7.0/jquery-3.7.0.min.js' ) }}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/Bootstrap-5-5.3.0/css/bootstrap.min.css') }}">
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables/Bootstrap-5-5.3.0/js/bootstrap.bundle.min.js' )}}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/DataTables-1.13.6/css/datatables.bootstrap5.css') }}">
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables/DataTables-1.13.6/js/jquery.dataTables.min.js' )}}"></script>
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables/DataTables-1.13.6/js/dataTables.bootstrap5.min.js' )}}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/Select-1.7.0/css/select.dataTables.min.css') }}">
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables/Select-1.7.0/js/dataTables.select.min.js' )}}"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/Buttons-2.4.1/css/buttons.dataTables.min.css') }}">
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables/Buttons-2.4.1/js/dataTables.buttons.min.js' )}}"></script>
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.min.css') }}">
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='datatables/datatables.min.js' )}}"></script>  
  

  <script>

    /**
     * Tale New Operation
     */
    function tale_table_new_init() {
      console.log('tale_table_new_init');

      $('#tale_new_button').on('click', function () {
        $('#tale_new_modal').modal('show');
      });

      $('#tale_new_btn_create').click(function(){
        console.log("serialize1");

        var newJsonObj= JSON.stringify( {
                "tale_narrative":$('#tale_new_modal_narrative').val(),
                "tale_narrative_id":$('#tale_new_modal_tale_narrative_id').val(),
                "tale_narrative_correctness":$('#tale_new_modal_tale_narrative_correctness').val(),
        } );
        console.log(newJsonObj)

        $.ajax({
          url: '/narration/info',
          type: "POST",
          dataType: 'json',
          data: newJsonObj,
          contentType: 'application/json;charset=UTF-8',
          success: function( success_data ) {
            console.log( "success");
            console.log( success_data );
          },
          error: function(xhr, status, error) {
            console.log("error");
            console.log(xhr);
            console.log(status);
            console.log(status);
          },
        })

        // Close the modal
        $('#tale_new_modal').modal('toggle');
        location.reload(true);
      });

    }




    // }


    /**
     * Tale Table
     */
    function tale_table_init(){
      var tale_table_var = $('#tale_table').DataTable({
        ajax: '/narration/info',
        columns: [
          {data: 'tale_narrative_id', orderable: true, searchable: true},
          {data: 'tale_narrative_submission_date', orderable: true, searchable: true},
          {data: 'tale_narrative_correctness', orderable: true, searchable: true},
          {data: 'tale_narrative', searchable: true},
        ],
        dom: 'Bflrtip',
        buttons: [ 'excel', 'csv' ],
        pageLength: 3,
        lengthMenu: [ [3,6,9,-1],[3,6,9, 'All'] ],
    });

      $('#tale_table').on('click', 'tr', function () {
          var name = $('td', this).eq(1).text();

          a_row_obj=tale_table_var.row(this).data();
          console.log(a_row_obj.user_id);
          console.log(a_row_obj.tale_id);
          console.log(a_row_obj.tale_narrative_id);
          console.log(a_row_obj.tale_narrative_correctness);
          console.log(a_row_obj.tale_narrative_submission_date);
          console.log(a_row_obj.tale_narrative);

          $('#modal_user_id').val(a_row_obj.user_id);
          $('#modal_tale_id').val(a_row_obj.tale_id);
          $('#modal_tale_narrative_id').val(a_row_obj.tale_narrative_id);
          $('#modal_tale_narrative_correctness').val(a_row_obj.tale_narrative_correctness);
          $('#modal_tale_narrative_submission_date').val(a_row_obj.tale_narrative_submission_date);
          $('#modal_narrative').val(a_row_obj.tale_narrative);

          $('#editModal').modal('show');
      });


      $('#modal-btn-submit').click(function(){
        console.log("serialize1");
        console.log($('#myForm').serializeArray());
        console.log("serialize2");
        //                 "tale_narrative_submission_date":$('#modal_tale_narrative_submission_date').val(),
        var myJson= JSON.stringify( {
                "tale_id": $('#modal_tale_id').val(),
                "user_id":$('#modal_user_id').val(),
                "tale_narrative":$('#modal_narrative').val(),
                "tale_narrative_id":$('#modal_tale_narrative_id').val(),
                "tale_narrative_correctness":$('#modal_tale_narrative_correctness').val(),
        } );
        var myJson1= JSON.stringify( {
                "tale_id": 64,
                "tale_narrative": "Finally works again",
                "tale_narrative_correctness": "yes",
                "tale_narrative_id": 103,
                "tale_narrative_submission_date": "Mon, 17 Oct 2022 12:00:13 GMT",
                "user_id": 3
        } );
        console.log(myJson)
        console.log("serialize3");


        $.ajax({
          url: '/narration/info',
          type: "POST",
          dataType: 'json',
          data: myJson,
          contentType: 'application/json;charset=UTF-8',
          success: function( success_data ) {
            console.log( "success");
            console.log( success_data );

          },
          error: function(xhr, status, error) {
            console.log("error");
            console.log(xhr);
            console.log(status);
            console.log(status);
          },
        })

        // Close the modal
        $('#editModal').modal('toggle');
        location.reload(true);
      });

    }

    /** Main
     * Functions
     */
    $(document).ready(function () {
        tale_table_new_init();
        tale_table_init();
    })
  </script>

{% endblock %}
