{% from 'bootstrap4/form.html' import render_form %}

<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>My Title</title>
        {% endblock %}
    </head>
    <body>

        {% extends "navigation.html" %}

        {% block content %}
        {% if current_user.is_anonymous %}
          <h1>Hello!</h1>
        {% else  %}
          <h1>Hi, {{ current_user.username }}!</h1>
        {% endif %}
        {% endblock %}        
        

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>